html {
    background-color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    height: 500px;
}

nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 780px;
    bottom: 70px;
    background-color: rgb(202, 198, 198);
}
