.padre{
    display: flex;
    /*justify-content: space-around;*/
	border:2px solid green;
	margin-bottom:10px;
}

article img {
    width:200px;
    height: 150px;
}

article :first-child {
    width:50%;
}