* {
    font: 1em Arial, Helvetica, sans-serif;
}

p {
    color: #555;
}
a {
    color: #CC3300;
}
main  {
    display:flex;
    justify-content: space-around;
}

section {
    padding: 0 4px;
    text-indent: 1.2em;
    text-align: justify;
}

main section {
    width:40%;
    border:2px red solid;
}
main section:first-child p {
    color: #336699;
}

main section:first-child em {
    background: #FFFFCC;
    padding: .1em;
}

.normal {
    width: 50%;
    border:2px green solid;
}

.normal span {
    font-weight: bold;
}

em.especial {
    background: #FFCC99;
    border: 1px solid #FF9900;
    padding: .1em;
}

