ul li:first-child {
    font-size: 20px;
    color: blue;
}

ul li:last-child {
    font-size: 25px;
    color: red;
}

ul li:nth-child(2) {
    list-style-image: url('vistobueno.png');
    margin-left: 15px;
}

ul li:nth-child(4) {
    list-style-image: url('vistobueno.png');
}