.obligatorio::after {
    content: '*';
    color: red;
    position: relative;
    top: -5px;
    right: 10px;
}

/* aqui establezco que despues de los elementos de clase obligatorio añada el asterisco en rojo. como en el ejemplo se ve que tiene que estar encima del texto y no
justo despues, he jugado con la posicion relativa hasta que quede en una posicion que me cuadre y se parezca al ejemplo*/

legend {
    letter-spacing: 5px;
    color: grey;
    font-size: 25px;
}

/* para conseguir el efecto de separado de las letras y darles mas color y tamaño en el texto que se incluye en las lineas que diferencian cada seccion del formulario*/

main {
    width: 530px;
    height: 250px;
    background-color: rgb(120, 250, 250);
}

/* para darle un tamaño al main y que no se ponga en el color seleccionado todo el ancho de la pantalla*/



#enviar {
    margin-left: 15px;
    color:purple;
    border: 2px rgb(255, 0, 170) solid;
}

/* aqui establezco los efectos del input tipo submit, el boton de enviar.*/

section {
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 15px;
}

/* para separar cada seccion del formulario entre ellas y entre el main.*/

input, select {
    margin-top: 5px;
}

/* para separar un poco y que quede mas agradable visualmente todos los campos del formulario...*/