html {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    text-align: center;
    height: 110px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 800px;
    background-color: rgb(88, 204, 219);
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    height: 80%;
}

span {
    font-size: 40px;
}

div {
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: white solid 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2 {
    color: rgb(96, 185, 245);
}

img {
    width: 50px;
    height: 50px;
}

header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(88, 204, 219);;
    background-color: white;
    width: 40%;
    border: white solid 1px;
    border-radius: 15px;
}

#segundaCaja {
    width: 300px;
    height: 500px;
}

a {
    margin-top: 60px;
    text-decoration:none;
}

#descripcion {
    width: 80%;
    text-align: center;
}

#segundaCaja a {
    margin-top: 160px;
}