body {
    text-align: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(245, 88, 114);
}



main {

    padding: 25px;
}

img {
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 25px;
    margin-right: 20px;
}

