main {
    text-align:justify;
    text-indent: 1.5%;
    background: linear-gradient(to bottom, grey, white); 
    padding:0 10px 0 10px;
}

p::first-letter {
    font-size: 150%;
}

strong {
    color: orange;
}

#formato1 {
    font-size: 200%;
    text-decoration: none;
}

.claves {
background-color: yellow;
text-transform: uppercase;
}

span {
    text-decoration:overline underline;
    color: orange;
}