html {
    text-align: center;
    background-color: rgb(246, 248, 117);
}

html {
    scroll-behavior: smooth;
}

header {
    font-size: large;
    font-weight: bold;
}

#lista1 li {
    text-align: center;
    display: inline;
    padding: 10px;
}

body {
    background-color: aliceblue;
}

#lista2 {
    text-align: left;
    list-style: none;
}

